<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>User Login</h3>
<form method="POST" th:object="${user}">
    <table>
        <tr>
            <td>
                <label for="user-name">User Name</label>
            </td>
            <td>
                <input type="text" id="user-name" th:field="*{name}">
            </td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                Tên lỗi hiển thị ở đây
            </td>
        </tr>
        <tr>
            <td>
                <label for="user-age">User Age</label>
            </td>
            <td>
                <input type="text" id="user-age" th:field="*{age}">
            </td>
            <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">
                Tuổi lỗi hiển thị ở đây
            </td>
        </tr>
        <tr>
            <td>
                <label for="user-phone">User Phone</label>
            </td>
            <td>
                <input type="text" id="user-phone" th:field="*{phone}">
            </td>
            <td>
                <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">
                    Số điện thoại lỗi hiển thị ở đây
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <input type="submit" value="submit">
            </td>
        </tr>
    </table>
</form>
</body>
</html>